*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  font-family: "Satoshi", sans-serif;
  position: fixed;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  top: 0;
  z-index: 999;
  background: transparent;
  transition: .3s ease-in;
}
  .navbar.active {
    background: crimson;
    background: whitesmoke;
  }
